<h2>Все реактивы</h2>
<div class="row mt-5 mb-2 ml-5">
	@{
	foreach (var reagent in Model.AllReagents){
		<div class="reagent-grid col-lg-3">
			<img  class="img-thumbnail" src="@reagent.Img" alt="@reagent.Name"/>
			<h4>@reagent.Name</h4>
			<p>@reagent.Desc</p>
			<p>Цена: @reagent.Price.ToString("c")</p>
			<p><a class="btn btn-warning" href="#">Подробнее</a></p>
		</div>
	}
}
</div>

